* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(220.55deg, #24cfc5 0%, #001c63 100%);
  color: #333;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardWrapper {
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 12px;
  margin-top: 24px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.employeeInfoContainer {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 24px;
  padding: 10px 15px;
  text-align: center;
  display: "flex";
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    background-color: #0056b3;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  margin-top: 12px;
}

.select.selectUser {
  width: 40%;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 12px 0px;
}

label {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
}

.loader {
  margin: 24px 0;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  margin: 12px;
  border-radius: 50%;
  border-left-color: #ccc;
  animation: spin 1s ease infinite;
}

.messageError {
  color: #c91d12;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
